/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*,
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
}

body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
}

img,
picture,
video,
canvas,
svg {
    display: block;
    max-width: 100%;
}

input,
button,
textarea,
select {
    font: inherit;
}

p,
h1,
h2,
h3,
h4,
h5,
h6 {
    overflow-wrap: break-word;
}

#root,
#__next {
    isolation: isolate;
}

/* My CSS code: */

:root {
    --orange: #CD5C08;
    --offwhite: #FFF5E4;
    --lightgreen: #C1D8C3;
    --darkgreen: #6A9C89;
}

body {
    font-family: Roboto, system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

/* div {
    TEMPORARY FOR OUTLINE
    outline: 1px red solid;
} */

.grid {
    display: grid;
}

.white_filter {
    filter: brightness(0) saturate(100%) invert(100%) sepia(0%) saturate(7500%) hue-rotate(221deg) brightness(102%) contrast(101%);
}

.pad_bottom {
    padding-bottom: 2.5%;
}

.pad {
    padding: 5px;
}

.centre_both {
    justify-items: center;
    align-items: center;
}

h2 {
    font-size: 1.2em;
}

#background {
    height: 100%;
    width: 100%;
    background-color: black;
    display: flex;
    justify-content: center;
    align-items: center;
}

#container {
    height: 100vh;
    width: 80vw;
    background-color: var(--offwhite);
    grid-template-columns: 1fr 5fr;
    grid-template-rows: 1fr 5fr;
}

/* Start of sidebar */

#sidebar {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    grid-template-rows: 1fr 11fr;
    background-color: var(--darkgreen);
    color: white
}

#sidebar a{
    color: white
}

#sidebar a:hover {
    color: var(--orange);
}

#sidebar_top {
    grid-template-columns: 1fr 3fr;
    grid-row: 1 / 2;
    align-items: center;
}

#logo_img, #logo_text {
    padding: 5px 0 0 5px;
}

h1 {
    font-size: 1.5em;
}

#sidebar_bottom {
    grid-row: 2 / 3;
    grid-template-columns: 1fr 5fr;
    grid-template-rows: repeat(10, 1fr);
    align-self: start;
    gap: 5px;
    padding: 10px 5px 0 10px;
    font-size: 1em;
    align-items: center;
}

a {
    text-decoration: none;
    font-size: 1em;
    padding: 0;
    margin: 0;
}

.icon img {
    justify-self: center;
    height: 50px;
    width: 50px;
}

/* End of Sidebar */

/* Start of Header */

#header {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
    grid-template-rows: 2fr 3fr;
    background-color: white;
}

#header_top,
#header_bottom {
    grid-template-columns: 3fr 2fr;
}

#search {
    grid-template-columns: 1fr 11fr;
    align-items: center;
    padding-left: 0 10px 0 10px;
}

#search_icon {
    justify-self: center;
}

input {
    width: 100%;
    background-color: var(--lightgreen);
    border-radius: 15px;
    border: 0;
    padding-left: 10px;
}

input:focus {
    outline: var(--orange) 2px solid;
}

#bell_icon {
    justify-self: end;
    padding-right: 10px;
}

#user_image_small {
    justify-self: center;
}

#username {
    justify-self: start;
}

#user {
    grid-template-columns: 2fr 1fr 1.5fr;
}

#greeting {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: 2fr 3fr;
}

#greeting_top {
    font-size: 0.75em;
    align-content: end;
}

#user_image_large {
    grid-column: 1 / 2;
    grid-row: 1 / 3;
    align-self: start;
    justify-self: end;
    padding-right: 10px;
}

#greeting_top {
    grid-column: 2 / 3;
    grid-row: 1 / 2;
}

#greeting_bottom {
    font-weight: bold;
}

#buttons {
    grid-template-columns: repeat(3, 1fr);
}

button {
    background-color: var(--darkgreen);
    width: 100px;
    height: 30px;
    border: 0;
    border-radius: 10px;
    color: var(--offwhite);
}

button:hover {
    background-color: var(--lightgreen);
    outline: var(--orange) solid 1px;
}

/* End of header */

/* Start of content */

#content {
    grid-column: 2 / 3;
    grid-row: 2 / 3;
    grid-template-columns: 2fr 1fr;
}

#projects {
    grid-column: 1 / 2;
    grid-template-rows: 30px 1fr;
    padding: 10px 0 0 10px;
}

#card_title {
    padding-left: 20px;
    align-self: end;
}

#card_container {
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 10px;
    padding: 10px;
}

.card {
    height: 180px;
    grid-template-rows: 1fr 2fr 1fr;
    background-color: white;
    border-left: var(--orange) 5px solid;
    border-radius: 10px;
    padding: 10px;
    box-shadow: 2px 2px var(--lightgreen);
}

.title {
    font-weight: bold;
    font-size: 0.9em;
}

.card_content {
    font-size: 0.75em;
    line-height: 1.2;
    color: darkslategray;
}

#star, #eye, #share {
    height: 25px;
    width: 25px;
    align-self: end;
    justify-self: end;
    /* filter: invert(57%) sepia(26%) saturate(374%) hue-rotate(106deg) brightness(95%) contrast(92%); */
    filter: invert(43%) sepia(54%) saturate(4216%) hue-rotate(9deg) brightness(90%) contrast(94%);
}

.links {
    display: grid;
    grid-template-columns: 3fr 1fr 1fr 1fr;
}

#announcements_trending {
    grid-column: 2 / 3;
    grid-template-rows: 1fr 1fr;
}

#announcements,
#trending {
    grid-template-rows: 30px 1fr;
    gap: 10px;
    padding: 10px;
}

#announcements_card, #trending_card {
    box-shadow: 2px 2px var(--lightgreen);
    border-radius: 5px;
    padding: 10px;
}

#announcements_card {
    grid-template-rows: repeat(3, 1fr);
    padding: 10px;
    line-height: 1.2;
    font-size: 0.8em;
}
.ann_content {
    padding: 5px;
    align-content: center;
}

#ann_1, #ann_2 {
    border-bottom: solid 1px lightgrey;
}

#announcements_card > div > p {
    color: darkslategray
}

#announcements_header, #trending_header {
    padding-left: 10px;
    align-self: center;
}

#trending_card {
    grid-template-columns: 1fr 3fr;
    grid-template-rows: repeat(4, 1fr);
    padding: 10px;
    gap: 10px;
    align-items: center;
    font-size: 0.8em;
}

#trending_card > div > p {
    color: darkslategray;
}

#trending_card > div > p {
    color: black;
    font-weight: 700;
}

#announcements_card, #trending_card {
    background-color: white;
}

.trending_icon {
    justify-self: end;
    height: 50px;
    width: 50px;
}